<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ToDo App</title>

    <link rel="stylesheet" href="/assets/libs/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/style.css">

    <script src="/assets/libs/angular.min.js"></script>
    <script src="/assets/libs/angular-animate.min.js"></script>
    <script src="/assets/libs/angular-aria.min.js"></script>
    <script src="/assets/libs/angular-material.min.js"></script>
    <script src="/assets/libs/angular-messages.min.js"></script>

    <script src="/app/app.module.js"></script>
    <script src="/app/app.config.js"></script>

    <script src="/app/tasks/task-dialog.controller.js"></script>
    <script src="/app/tasks/task-list.controller.js"></script>
    <script src="/app/components/todo.controller.js"></script>

    <script src="/app/tasks/task-list.directive.js"></script>
    <script src="/app/tasks/task-form.directive.js"></script>

    <script src="/app/services/task-storage.service.js"></script>
    <script src="/app/services/user-config.service.js"></script>
  </head>
  <body ng-app="toDoApp" class="no-scroll">
    <div ng-controller="TodoController as ctrl" class="no-scroll">
      <div layout="column" class="no-scroll">
        <md-toolbar class="toolbar md-whiteframe-3dp">
          <div class="md-toolbar-tools">
            <span>ToDo App</span>

            <span flex></span>
            
            <md-button class="md-icon-button" aria-label="change view state" ng-click="ctrl.toggleView()">
              <md-icon ng-show="ctrl.userConfig.view === 'list'">view_list</md-icon>
              <md-icon ng-show="ctrl.userConfig.view === 'card'">view_module</md-icon>
            </md-button>

            <md-button ng-disabled="ctrl.tasksToDelete.length === 0" class="md-icon-button" aria-label="Delete"
                       ng-click="ctrl.deleteTaskDialog($event, ctrl.tasksToDelete)">
              <md-icon>delete</md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-content layout-padding>
          <div layout="row" layout-align="center center" style="height: 4rem">
            <span style="padding:0 10px 0 15px">Order by:</span>
            <md-input-container style="width: 120px; font-size:16px;" flex="10" flex-xs="80">
              <md-select ng-model="ctrl.userConfig.tasksOrder.type" aria-label="order-by">
                <md-option ng-repeat="order in ctrl.orders" ng-value="order">
                  {{order | uppercase}}
                </md-option>
              </md-select>
            </md-input-container>
            
            <div flex="30">
              <md-button class="md-icon-button" ng-click="ctrl.userConfig.tasksOrder.reverse = false">
                <md-icon aria-label="increasing order" ng-class="{'selected-order': !ctrl.userConfig.tasksOrder.reverse}">arrow_drop_down</md-icon>
              </md-button>

              <md-button class="md-icon-button" ng-click="ctrl.userConfig.tasksOrder.reverse = true">
                <md-icon aria-label="decreasing order" ng-class="{'selected-order': ctrl.userConfig.tasksOrder.reverse}">arrow_drop_up</md-icon>
              </md-button>
            </div>

            <md-input-container flex="30" flex-xs="100" style="top:13px">
              <input type="search" ng-model="ctrl.searchTask" placeholder="Search task">
              <md-icon aria-label="search">search</md-icon>
            </md-input-container>
          </div>

          <md-tabs md-dynamic-height md-border-bottom md-swipe-content class="no-scroll">
            <md-tab label="todo">
              <md-content class="md-padding scroll tab-content">
                <tasklist tasks="ctrl.tasks" tasks-order="ctrl.userConfig.tasksOrder.type" tasks-to-delete="ctrl.tasksToDelete" search-task="ctrl.searchTask"
                          selected-task="ctrl.selectedTask" filter-func="ctrl.toDoTasks" view="ctrl.userConfig.view"></tasklist>
              </md-content>
            </md-tab>

            <md-tab label="done">
              <md-content class="md-padding scroll tab-content">
                <tasklist tasks="ctrl.tasks" tasks-order="ctrl.tasksOrder" tasks-to-delete="ctrl.tasksToDelete" search-task="ctrl.searchTask"
                          selected-task="ctrl.selectedTask" filter-func="ctrl.doneTasks" view="ctrl.userConfig.view"></tasklist>
              </md-content>
            </md-tab>

            <md-tab label="all">
              <md-content class="md-padding scroll tab-content">
                <tasklist tasks="ctrl.tasks" tasks-order="ctrl.tasksOrder" tasks-to-delete="ctrl.tasksToDelete" search-task="ctrl.searchTask"
                          selected-task="ctrl.selectedTask" filter-func="ctrl.allTasks" view="ctrl.userConfig.view"></tasklist>
              </md-content>
            </md-tab>
          </md-tabs>

        </md-content>

        <md-button class="md-fab add-task" ng-click="ctrl.addTaskDialog($event)">
          <md-icon>add</md-icon>
        </md-button>

      </div>
    </div>
  </body>
</html>