<md-list ng-show="tasklistctrl.view === 'list'">
  <md-list-item class="md-3-line"
                ng-repeat="task in tasklistctrl.tasks | orderBy:tasklistctrl.tasksOrder.type:tasklistctrl.tasksOrder.reverse | filter:tasklistctrl.filterFunc | filter: tasklistctrl.searchTask" 
                ng-click="task.showInfo = !task.showInfo; tasklistctrl.toggleSelection(task)" ng-class="{'selected-task': (tasklistctrl.selectedTask == task)}">
    <div class="md-list-item-text" layout="column">
      <div layout="row" layout-align="space-between start">
        <span class="md-subhead">
          {{task.title}}
          <md-button class="md-icon-button edit-button" ng-click="tasklistctrl.editTaskDialog($event, task)">
            <md-icon class="edit-icon" aria-label="edit task"> mode_edit </md-icon>
          </md-button>
        </span>
        
        <div layout="row" layout-align="space-between">
          <md-button class="md-icon-button" ng-click="tasklistctrl.togglePriority(task)">
            <md-icon ng-class="{'important': (task.priority === 1)}" aria-label="important"> priority_high </md-icon>
          </md-button>
        
          <md-button class="md-icon-button done-icon" ng-click="tasklistctrl.toggleDone(task)">
            <md-icon ng-class="{'done': task.done}" style="font-size: 25px" aria-label="done"> done </md-icon>
          </md-button>

          <md-checkbox ng-model="task.toDelete" ng-change="tasklistctrl.toggleMultiDelete(task)" aria-label="multiple delete"></md-checkbox>
        </div>
      </div>

      <p>{{task.date | date: 'dd/MM/yyyy'}}</p>
      <p>{{task.work}} hours estimated</p>

      <div ng-show="task.showInfo">
        <p>{{task.description}}</p>
        <md-chips layout="row" class="custom-theme" ng-model="task.tags" md-removable="false" readonly="true"></md-chips>
      </div>
    </div>
  </md-list-item>
</md-list>


<div ng-show="tasklistctrl.view === 'card'" layout-xs="column" layout="row" layout-align="start" layout-wrap>
  <div flex-xs="100" flex="33"
       ng-repeat="task in tasklistctrl.tasks | orderBy:tasklistctrl.tasksOrder.type:tasklistctrl.tasksOrder.reverse | filter:tasklistctrl.filterFunc | filter:tasklistctrl.searchTask">
    <md-card ng-click="tasklistctrl.toggleSelection(task)" ng-class="{'selected-task': (tasklistctrl.selectedTask == task)}">
      <md-card-title>
        <md-card-title-text layout="row" layout-align="space-between start">
          <span class="md-headline">{{task.title}}</span>
          <md-checkbox ng-model="task.toDelete" ng-change="tasklistctrl.toggleMultiDelete(task)" aria-label="multiple delete" class="md-secondary"></md-checkbox>
        </md-card-title-text>
      </md-card-title>
        <md-card-content layout="row" layout-align="none start">
          <p>{{task.description}}</p>
        </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-card-icon-actions>
          <md-button class="md-icon-button" ng-click="tasklistctrl.togglePriority(task)">
            <md-icon ng-class="{'important': (task.priority === 1)}" aria-label="important"> priority_high </md-icon>
          </md-button>
        
          <md-button class="md-icon-button" ng-click="tasklistctrl.toggleDone(task)">
            <md-icon ng-class="{'done': task.done}" style="font-size: 26px" aria-label="done"> done </md-icon>
          </md-button>
        </md-card-icon-actions>
        <md-button ng-click="tasklistctrl.editTaskDialog($event, task)" aria-label="edit task">Edit</md-button>
        <md-button ng-click="tasklistctrl.showTaskDialog($event, task)" aria-label="task info">Show info</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>